/* ask bill what the restarting thing is for images, display block!!!!! this allowed me to do margin auto? */

/* iphone 14 width is 390px
so, - 40 for margin of 20 each side = 350px
so img is 200px wide
and text is 140px wide
gap is 10px */

/* basic and mobile design */
body{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;

    font-family: Roboto;

    /* max-width: 1040px; */
    /* display: block; */

}

h1 {
    font-family: Martian Mono;
    font-size: 40px;
    text-align: center;
}

h2 {
    font-family: Roboto;
    font-size: 23px;
    text-align: center;
    margin-bottom: 50px;
}

img {
    margin-bottom: 25px;
    /* align-items: center; */
    margin-right: auto;
    margin-left: auto;
    /* z-index: 2; */
    width: 200px;
    height: 200px;
    display: block;

}
 
p{
    line-height: 1.3em;
}

section {
    /* position: relative; */
}


/* images */
@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}

#img1, #img2, #img3, #img4, #img5 {
    /* z-index: 2; */
    filter: blur(15px);
    /* mix-blend-mode: color-dodge; */
}

.img1Clicked {
    filter: blur(0px);
}

#img1Text, #img2Text, #img3Text, #img4Text, #img5Text {
    text-align: center;
    /* z-index: 1;  */
    opacity: 0;
    margin-bottom: 25px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}
/* ------- */

.img1TextClicked {
    animation: fadeIn 1s ease-in-out;

    text-align: center;
    /* z-index: 1;  */
    opacity: 1;
    margin-bottom: 25px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}
/* ------- */

.img2TextClicked {
    animation: fadeIn 1s ease-in-out;

    text-align: center;
    /* z-index: 1;  */
    opacity: 1;
    margin-bottom: 25px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}
/* ------- */

.img3TextClicked {
    animation: fadeIn 1s ease-in-out;

    text-align: center;
    /* z-index: 1;  */
    opacity: 1;
    margin-bottom: 25px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}
/* ------- */

.img4TextClicked {
    animation: fadeIn 1s ease-in-out;

    text-align: center;
    /* z-index: 1;  */
    opacity: 1;
    margin-bottom: 25px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}
/* ------- */

.img5TextClicked {
    animation: fadeIn 1s ease-in-out;

    text-align: center;
    /* z-index: 1;  */
    opacity: 1;
    margin-bottom: 25px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}





/* --------------------------- website design --------------------------- */
@media only screen and (min-width: 1040px) { 
    body {
        max-width: 1200px;
        margin: 0 auto;
    } /* i feel like this isn't working */
      

    section {
        display: flex;
    }

    .img1Text, .img2Text, .img3Text, .img4Text, .img5Text {
        position: relative;
        text-align: center;
        opacity: 1;
        max-width: 440px;
    }

    /* .circles {
        background-color: rgb(153, 132, 107);
        height: 16px;
        width: 16px;
        border-radius: 10px;
    }

    .lines {
        background-color: rgb(153, 132, 107);
        height: 3px;
        width: 229px; 
    }

    .flexElements {
        display: flex;
    } */

    main {
        display: flex;
    }




}
