body{
    background: linear-gradient(180deg, rgba(209,0,87,1) 0%, rgba(237,177,131,1) 100%);
    background-repeat: no-repeat;
}

section {
    max-width: 40%;
    margin: auto;
    background-color: #fad8cd;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 40px;
}

h1 {
    text-align: center;
    font-family: 'Martian Mono', monospace;
    font-size: 35px;
    color: #fad8cd;
}

h2{
    font-family: 'Martian Mono', monospace;
    text-transform: capitalize;
    font-size: 28px;
    padding-left: 10px;
    padding-right: 10px;
    color: #d10057;
    text-align: center;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    line-height: 45px;
    padding-left: 10px;
    padding-right: 10px;
    color: #1e555c;
    text-align: justify;
}

img, video {
    display: block;
    max-width: 600px;
    height: 100%;
    margin: auto;
}